body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.form-wrapper {
    width: 300px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form h1 {
    font-size: 18px;
    text-align: center;
}

form div {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #777;
    background-color: #444;
    color: white;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

label {
    margin-right: 10px;
}

input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #777;
    background-color: #555;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #666;
}
